{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ======= Header ======= -->
{% include "partials/_navbar.html" %}
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="breadcrumb-section pb-5 set-bg">
  <img
    src="{% static 'assets/img/top/about.png' %}"
    class="d-block w-100"
    height="200vh"
    alt="..."
  />
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row no-gutters">
        <div
          class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
        >
          <img
            class="about image"
            width="500"
            height="500"
            src="{% static 'assets/img/about/1.jpg' %}"
          />
        </div>
        <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
          <div class="content d-flex flex-column justify-content-center">
            <h3 class="text-center py-2">ABOUT 3C ASSEMBLY MINISTRY</h3>
            <p class="p-4">
              The 3C Assembly is also know as the Christ Covenant Community is a
              church of the community of believers who are in a Covenant with
              our Lord and Savior Jesus Christ through the shedding of His blood
              on the cross of calvary. So we believe that this covenant binds us
              as believers together and as a people we are unsurmountable and a
              force that enthrones the kingdom of God throughout all the world,
              nations, kingdoms and tribes of men. Knowledge and applicability
              of this covenant in Christ guarantees outstanding results. Daniel
              11:32 Those who do wickedly against the covenant he shall corrupt
              with flattery; but the people who know their God shall be strong,
              and carry out great exploits. We know who and whose we are and we
              also know where we are, this emboldens our faith in power and
              dominion. We would like to appreciate you for taking time to visit
              our site today, just know this that you are amazing in God’s eyes
              and so are you in our eyes. Stay blessed.
            </p>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Counts Section ======= -->

  <!-- End Counts Section -->

  <!-- ======= Clients Section ======= -->
  <!-- End Clients Section -->

  <!-- ======= Services Section ======= -->
  <!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->

  <!-- End Why Us Section -->

  <!-- ======= Portfolio Section ======= -->
  <!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <h2>Vision Statement</h2>
        <h4>Self-discovery and Empowerment for the Fulfillment of Purpose</h4>
        <br />
        <h2>Mission Statement</h2>
        <h5>
          I am daily growing in the knowledge of God. I understand my place in
          Christ, I am an expression of God's love
        </h5>
      </div>
      <br />
      <div class="section-title">
        <h2>Leadership</h2>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member">
            <img
              src="{% static 'assets/img/team/pastor.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst. T.D. Frank</h4>
                <span>Lead Pastor</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/gift.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst.Gift Frank</h4>
                <span>Co Pastor</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/prophet.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst. Michael N. Ovunda</h4>
                <span>Resident Pastor</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/jerry.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst. Jerry Morgan</h4>
                <span>Head Protocol Department</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/Ngozi.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst. Ngozi Jonah</h4>
                <span>Head Prayer Department</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/Felix.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst. Felix Biyama</h4>
                <span>Head Training Department</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/pastor.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pst. Olivia Felix</h4>
                <span>Head Accountant</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
          <div class="member">
            <img
              src="{% static 'assets/img/team/pastor.png' %}"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Olutola Rebecca Oladesu</h4>
                <span>Head Music Department</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
  <!-- ======= Mission Statement ======= -->

  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% include "partials/_footer.html" %}
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
{% endblock %}
