{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ======= Header ======= -->
{% include "partials/_navbar.html" %}
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section class="breadcrumb-section pb-5 set-bg">
  <img
    src="{% static 'assets/img/top/sermons.png' %}"
    class="d-block w-100"
    height="200vh"
    alt="..."
  />
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->

  <!-- ======= Portfolio Section ======= -->
  <!-- End Portfolio Section -->

    <!-- ======= Breadcrumbs ======= -->
    

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
                <video width="500px" height="500px"  controls="controls"/>
                <source src="vid.mp4" type="video/mp4"> </video> 
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Sermon information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Language</strong>: {{ sermon.language.choice }}</li>
                <li><strong>Preacher</strong>: {{ sermon.preached_by }}</li>
                <li><strong>Date</strong>: {{ sermon.date_added }}</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{ sermon.theme }}</h2>
              <p>{{ sermon.description }}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- End Portfolio Section -->
  <!-- End Team Section -->
  <!-- ======= Mission Statement ======= -->

  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% include "partials/_footer.html" %}
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
{% endblock %}
