{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ======= Header ======= -->
{% include "partials/_navbar.html" %}
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<!-- End Hero -->

<main id="main">
  <br />
  <br />
  <br />
  <!-- ======= About Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div id="flipbook">
            <div class="hard bg-white">
              {% if book.image %}
              <img src="{{ book.image.url }}" class="img-fluid" alt="" />
              {% endif %}
              <h4 class="text-center p-3">{{ book.title }}</h4>
            </div>
            <div class="hard bg-white"></div>
            <div class="bg-white">
              <h1 class="m-3">First Page</h1>
              <p class="m-3">{{ book.content }}</p>
            </div>
            <div class="bg-white mx-auto">
              <h1 class="m-3">Secound Page</h1>
              <p class="m-3">{{ book.title }}</p>
            </div>
            <div class="bg-white mx-auto">
              <h1 class="m-3">Three Page</h1>
              <p class="m-3">
                Project information Category: Web design Client: ASU Company
                Project date: 01 March, 2020 Project URL: www.example.com This
                is an example of portfolio detail Autem ipsum nam porro corporis
                rerum. Quis eos dolorem eos itaque inventore commodi labore quia
                quia. Exercitationem repudiandae officiis neque suscipit non
                officia eaque itaque enim. Voluptatem officia accusantium
                nesciunt est omnis tempora consectetur dignissimos. Sequi nulla
                at esse enim cum deserunt eius
              </p>
            </div>
            <div class="bg-white mx-auto">
              <h1 class="m-3">Four Page</h1>
              <p class="m-3">
                Project information Category: Web design Client: ASU Company
                Project date: 01 March, 2020 Project URL: www.example.com This
                is an example of portfolio detail Autem ipsum nam porro corporis
                rerum. Quis eos dolorem eos itaque inventore commodi labore quia
                quia. Exercitationem repudiandae officiis neque suscipit non
                officia eaque itaque enim. Voluptatem officia accusantium
                nesciunt est omnis tempora consectetur dignissimos. Sequi nulla
                at esse enim cum deserunt eius
              </p>
            </div>
            <div class="bg-white mx-auto">
              <h1 class="m-3">Fifth Page</h1>
              <p class="m-3">
                Project information Category: Web design Client: ASU Company
                Project date: 01 March, 2020 Project URL: www.example.com This
                is an example of portfolio detail Autem ipsum nam porro corporis
                rerum. Quis eos dolorem eos itaque inventore commodi labore quia
                quia. Exercitationem repudiandae officiis neque suscipit non
                officia eaque itaque enim. Voluptatem officia accusantium
                nesciunt est omnis tempora consectetur dignissimos. Sequi nulla
                at esse enim cum deserunt eius
              </p>
            </div>
            <div class="bg-white">
              <h1 class="m-3">Last Page</h1>
              <p class="m-3">
                Project information Category: Web design Client: ASU Company
                Project date: 01 March, 2020 Project URL: www.example.com This
                is an example of portfolio detail Autem ipsum nam porro corporis
                rerum. Quis eos dolorem eos itaque inventore commodi labore quia
                quia. Exercitationem repudiandae officiis neque suscipit non
                officia eaque itaque enim. Voluptatem officia accusantium
                nesciunt est omnis tempora consectetur dignissimos. Sequi nulla
                at esse enim cum deserunt eius
              </p>
            </div>
            <div class="hard bg-white"></div>
            <div class="hard bg-white"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
  <!-- ======= Portfolio Section ======= -->
  <!-- End Portfolio Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Vendor JS Files -->
{% endblock %}
